FORMAT: 1A
HOST: http://movabletype.org

# Movable Type Data API v2
The Movable Type Data API is a REST interface to the Movable Type Content Management System.
The Data API is available for Movable Type Pro and Movable Type Advanced / Enterprise, Version 6.0 and higher.

# Group Assets

+ Model (application/json)

    + blog (object)
        + id (number)
    + createdBy (object)
        + id (number)
        + displayName (string)
        + userpicUrl (string)
    + class (string)
    + createdDate (datetime)

## Assets Colection [/sites/{site_id}/assets]

+ Parameters
    + site_id (required, number) ... The site ID.

### List all assets in the site [GET]
+ Parameters
    + limit = `10` (optional, number) ... Maximum number of assets to retrieve.

+ Response 200 (application/json)

        {
          "totalResults" : 1,
          "items" : [
            {
              "updatable" : false,
              "url" : "http://localhost/blog/20140917-2/images/0cf61aae.jpg",
              "id" : "1",
              "modifiedDate" : "2014-09-30T15:28:50+09:00",
              "parent" : null,
              "imageHeight" : 425,
              "blog" : {
                "id" : "1"
              },
              "description" : null,
              "tags" : [],
              "imageWidth" : 640,
              "fileSize" : "27930",
              "filename" : "0cf61aae.jpg",
              "createdUser" : {
                "userpicUrl" : null,
                "displayName" : "Yuji Takayama"
              },
              "type" : "画像",
              "mimeType" : "image/jpeg",
              "label" : "0cf61aae.jpg",
              "class" : "image",
              "createdDate" : "2014-09-30T15:28:50+09:00",
              "fileExtension" : "jpg"
            }
          ]
        }
